/* Here is your custom css styles. */
span.logo-span {
    font-family: 'Lobster', cursive;
    color:yellow;
} 

body ul li i {
    color: yellowgreen;
}

body ul li span {
    font-family: '宋体';
    color: yellow;
}


#artDetail {
    font-family: '宋体';
}
